<!-- <ion-header [translucent]="true">
  <ion-toolbar class="tolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1vhpi4Q16ikcaAqSGoDJmTjVpVeK9rKA&callback=initMap"></script>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']" tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/mapa']" tab="radio">
        <ion-icon name="car"></ion-icon>
        Viajes
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="book"></ion-icon>
        Historial
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="person"></ion-icon>
        Cuenta
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-toolbar> -->


<ion-content>
  <div id="map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1vhpi4Q16ikcaAqSGoDJmTjVpVeK9rKA&callback=initMap"></script>
  <ion-searchbar placeholder="Para Donde?"></ion-searchbar>
</ion-content>
